/*
Color 1 : #3f008d
Color 2 : #2b66e9
Color 3 : #fa8128
*/

* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  background-image: url(../images/fond.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    background-size: auto 105%;
    background-position-x: 6%;
    background-position-y: 101%;
  }
}

@media screen and (max-width: 768px) {
  html {
    background-size: cover;
    background-position: 30% 0%;
  }
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  margin: 0 5% 0 5%;
}

header {
  height: 100vh;
}

ul {
  list-style-type: none;
  display: flex;
  transition: linear 1s;
}

a {
  text-decoration: none;
}

/*article {
  font-size: 5rem;
  font-style: normal;
}*/
