/*
Color 1 : #3f008d
Color 2 : #2b66e9
Color 3 : #fa8128
*/

* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #252525;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  background-image: url(../images/fond-image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    background-size: auto 105%;
    background-position-x: 6%;
    background-position-y: 101%;
  }
}

@media screen and (max-width: 768px) {
  html {
    background-size: cover;
    background-position: 30% 0%;
  }
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  margin: 0 5%;
}

a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

input,
textarea,
select {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #252525;
  margin: 0rem 0 3rem;
  font-size: 1.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 1rem 0.5rem;
}

div[role="group"] > label:not(:last-child) {
  margin-bottom: 0.5rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
